.cnb-rules-container {
	margin-bottom: 1em;
	border-top: 1px solid var(--background-modifier-border);
}

.cnb-rule-setting-item,
.cnb-rule-setting-item:first-child {
	padding: 0.35em 0;
	justify-content: center;
	border-top: 1px solid var(--background-modifier-border);
}

.cnb-rule-setting-item .setting-item-info {
	display: none;
}
.cnb-rule-setting-item .setting-item-control {
	flex: none;
}

.cnb-rule-settings-header-row {
	display: grid;
	grid-template-columns: 1.2fr 1.5fr 1.5fr 1.2fr 0.5fr 0.5fr 0.5fr;
	font-weight: bold;
	align-items: center;
	margin-bottom: 10px;
}

.cnb-rule-settings-header-row span {
    text-align: center;
}

.cnb-rule-settings-row {
	display: grid;
	grid-template-columns: 1.2fr 1.5fr 1.5fr 1.2fr 0.5fr 0.5fr 0.5fr;
	align-items: center;
}

.cnb-rule-type-dropdown {
	width: 10em;
}
.cnb-rule-value-input {
	width: 10em;
}
.cnb-rule-setting-item-text-input {
	width: 6em;
}
.cnb-rule-alpha-input {
    width: 4em;
}